h1 {
  color: #FFFFFF;
  font-weight: bold;
  font-family: Montserrat;
  margin-left: 20px;
  margin-top: 35px;
  margin-bottom: 0px;
  font-size: 45px;

  /*box-sizing: border-box;*/
}
.box{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;

  height: 150px;
}
.pat{
  z-index: -1;
  position: absolute;
  left: 0;
  right: 15;
  top: 0;
  bottom: 0;
  height: 150px;
}
.invis{
  height: 150px;
}

.red{
  background: #fd4345;
  /*#fd4345*/
}


em, strong {
  background-color: #263547;
  display: inline;
}
p, ul, ol, h2, h3, h4, h5, h6 {
  font-family: Montserrat;
  font-style: 12px;
  font-weight: normal;
  color: #263547;
  margin-left: 20px;
}



ol {
  list-style-type: lower-roman;
}


strong {
  margin: 50px;
}

hr {
   border-top: 1px solid #fd4345;
}
a:visited {
  color: #fd4345;
}
a:hover {
  color: #fd4345;
  text-decoration: underline;
}
a:active {
  color: #263547;
}

a:visited:hover {
  color: #263547;
}
